<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Não encontrado</title>
</head>
<body>
    <h1>pagina de quando n for encontrada a rota etc</h1>
</body>
</html>